:root {
--primary-default: #E60101;
--primary-default-dark: #A10000;
--secondary-default: #403131;
--heading-text-color: #200000;
--body-text-color: #646363;
--secondary-text-color : #A8A6A6;
--grey100: #eff4fd;
--grey200:#ddd;
--grey-light:#f2f2f2;
--dashboard-bg:#F5F4F5;
--border-color-default: #B9A2A2;

 --white:#fff;
--border-radius-0: 0px;
--ocean-color:#176CFF;
--classic-color:#212121;
--forest-color:#17705C;
--energetic-color:#EE6043;
--clean-color:#673657;
--safari-color:#D8AE5F;
--redcolor:red;
--border-radius-default:3px;
--font-family-default:'Lato', sans-serif;
--default-font-size: 16px;
--secondary-font-size:14px;
--font-weight300 :300;
--font-weight400 :400;
--font-weight500 :500;
--font-weight600 :600;
--font-weight700 :700;
--font-weight800 :800;
}